<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>
</head>
<body>
    <div>
        <form action="/add" method="post">
            <p><input type="number" placeholder="enter the first number" name="num1"></p>
            <p><input type="number" placeholder="enter the second number" name="num2"></p>
            <p><input type="submit" value="add"></p>
            <p>sum = {{ sum }}</p>
        </form>
    </div>
</body>
</html>